<script>
  window.Scrummix = {
    section_id: <%= @data.section_id %>,
    sections:   <%= {:safe, @data.sections_json} %>,
    tasks:      <%= {:safe, @data.tasks_json} %>
  };
  require("scrummix/apps/daily-edit.jsx");
</script>
