<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title><%= render_dynamic_content(@conn, "title", %{}) || "Scrummix" %></title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>
  <body id="scrummix" class="pushable">
    <%= render Scrummix.SharedView, "top_bar.html" %>

    <div class="pusher">
      <div class="app-content full height">
        <div class="container">
          <%= render Scrummix.SharedView, "header_notice.html", conn: @conn %>
          <%= @inner %>
        </div>
      </div>

      <%= render Scrummix.SharedView, "bottom_bar.html" %>
    </div>

    <script src="<%= static_path(@conn, "/js/vendor.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <%= render_dynamic_content(@conn, "post_body", %{data: @data}) %>
  </body>
</html>
